/**
 * Main.css
 *
 * Note: This stylesheet is using a mobile first approach
 */



/*
 * Variables, resets and setup
 */
 
:root {
  --color-white: #ffffff;
  --color-asphalt:#4d5757;
  --color-concrete: #96A5A5;
  --color-smoke: #e1e7e8;
  --color-cloud: #f8f8f8;
  --color-amethyst: #9b59b6;
  --color-grass: #27ae60;

  --accent-color: var(--color-concrete);
  --border-color: var(--color-smoke);  
  --code-bg-color: var(--color-cloud);
  --text-color: var(--color-asphalt);
  --link-active-color: var(--color-amethyst);
  --btn-bg: var(--color-smoke);
  --btn-text: var(--text-color);
  --btn-success-bg: var(--color-grass);
  --btn-success-text: var(--color-white);
  --bookmark-tags: var(--color-amethyst);  
  
  --vertical-padding: 40px;
  --document-horizontal-margin: 80px;
  --main-content-max-width: 800px;
  --main-content-margin: 0 auto;  
  --nav-width: 200px;
}



/*
 * Font-face
 */

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-Regular.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-It.eot'); /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-It.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-It.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-Semibold.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.ttf') format('truetype'); /* Safari, Android, iOS */
}



/*
 * Mediaqueries
 */

@media (max-width: 1200px) {
  :root {
    --main-content-margin: 0 0 0 var(--nav-width);
  }
}



/*
 * Utility styling
 */

:focus {
    outline: none !important;
}
::-moz-focus-inner {
    border:0 !important;
} 

/*
 * Block styling
 */
 
html {
  font-size: 16px;
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  background-color: #fff;
  color: var(--text-color);
}



/* 
 * Basic styling
 */

a,
a:visited {
  color: #2980B9;
  text-decoration: none;
}

a:hover {
  color: #3498db
}

a:active,
a:focus {
  color: var(--link-active-color);
}

hr {
  margin: 1rem 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ecf0f1;
}

h1 {
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--accent-color);
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  position: -webkit-sticky;
  top:0;
  background-color: #fff;  
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1,125rem;
  font-weight: bold;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

h3::before 
{
  vertical-align: baseline;
  font-weight: normal;
  float: left;
  text-align: right;
  width: 1.5rem;
  content: '# ';
  margin-left: -2rem;
  opacity: .25;
}

.main-content h1:first-of-type {
  margin-top: 0;
}


h2 + h3 {
  margin-top: 1.5rem;
}


table {
  border-collapse: collapse;
}

table td,
table th {
  text-align: left;
  padding: .3rem .9rem;
  border: 1px solid #ecf0f1;
}

code {
  font-size: .875rem;
  display: inline-block;
  padding: 0 3px;
  border: 1px solid var(--border-color);
  border-radius: 1px;
  background-color: var(--code-bg-color);
  color: var(--text-color);
}

pre code {
  display: block;
  padding: 5px 10px;
}



/* 
 * Structure
 */

.main-content {
  margin: var(--main-content-margin);
  max-width: var(--main-content-max-width);  
}

.main-content .article {
  margin-top: var(--document-horizontal-margin);
  margin-bottom: var(--document-horizontal-margin);
  margin-left: var(--vertical-padding);
  margin-right: var(--vertical-padding);  
}



/* 
 * Main navigation
 */

.main-nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: var(--vertical-padding);
  overflow-x: hidden;
  overflow-y: scroll;
  width: var(--nav-width);
  height: 100vh;
}

.main-nav::-webkit-scrollbar {
  display: none;
}

.main-nav a {
  color: var(--text-color);
  font-size: 0.9rem;
  display: block;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.main-nav a:hover {
}

.main-nav nav {
  padding:  var(--document-horizontal-margin) 0;
}

.main-nav nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main-nav nav li {
  margin-left: 0px;
}

.main-nav nav > ul > li {
  padding-left: 0px;
}

.main-nav nav li.active {
  background-color: rgba(0, 0, 0, .05);
}

.main-nav nav li.active > a {
  font-weight: bold;
}

/* Main nav Tree */

.main-nav nav li.directory > a::before {
  content: '▸ ';
}

.main-nav nav li.directory a.folder-open::before {
  content: '▾ ';
}

.main-nav nav li.directory > ul {
  margin-top: 0;
  margin-left: 20px;
  display: none;
  margin-bottom: 10px;
}

.main-nav nav li.directory.open > ul {
  display: block;
}

/* same-page navigation */

.page-nav:not(:empty) {
  padding-top: 5px;
}

.page-nav a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.8em;
}

.page-nav a:before {
  content: '# ';
}

@media (min-width: 0px) {
  .main-nav {
    box-shadow: none;
    transform: translate3d(0px, 0, 0);
  }
  .main-nav li a {
    opacity: .25;
    transition: opacity .15s;
  }
  .main-nav:hover li a {
    opacity: 1;
  }
  .main-nav li.active a {
    /*opacity: 1;*/
  }
  .main-nav nav li.active {
    background-color: transparent;
  }
}



/*
 * Buttons 
 */
 
.btn {
  display:inline-block;
  margin: 0;
  padding: 4px 8px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: var(--btn-bg);
  color: var(--btn-text);
  font-size: .8rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  transition: transform .1s;
}

.btn:hover {
  color: var(--btn-text);  
  transform: scale(1.05);
}

.btn-success {
  --btn-bg: var(--btn-success-bg);
  --btn-text: var(--btn-success-text);
}

/*
 * Menu and actions 
 */
 
 
.actions {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
} 

.toggle-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  display: block;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: #2ecc71; /*FIXME*/
  -webkit-user-select: none;
}

@media (min-width: 0px) {
  .toggle-menu {
    display: none;
  }
}

.toggle-menu span {
  position: absolute;
  left: 2px;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-smoke);
  opacity: 1;
  transition: .20s ease-in-out;
  transform-origin: center;
}

.toggle-menu span:nth-child(1) {
  top: 0px;
}

.toggle-menu span:nth-child(2) {
  top: 6px;
}

.toggle-menu span:nth-child(3) {
  top: 6px;
}

.toggle-menu span:nth-child(4) {
  top: 12px;
}

.toggle-menu.open span:nth-child(2) {
  /*top: 7px;*/
  left: 0px;
  width: 24px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: var(--text-color);
}

.toggle-menu.open span:nth-child(3) {
  /*top: 7px;*/
  left: 0px;
  width: 24px;
  height: 2px;
  transform: rotate(45deg);
  background-color: var(--text-color);
}

.toggle-menu.open span:nth-child(1),
.toggle-menu.open span:nth-child(4) {
  opacity: 0;
  top: 6px;
  left: 9px;
  width: 2px;
}

/* 
 * Breadcrumbs
 */

.breadcrumbs {
  position: absolute;
  top: 0;
  padding: 10px 0;
  display:none; /*FIXME turning off breadcrumbs until properly styled*/
}
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .9rem;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  color: var(--color-smoke);
  transition: color .5s;
}
.breadcrumb:hover a {
  color: var(--text-color);
}
.breadcrumb a:focus,
.breadcrumb a:active {
  color: var(--link-active-color);
}
.directory-path {
    color: #7B848C;
    font-weight: normal;
}

/* 
 * Pinboard 
 */
 
.pinboard .bookmarks {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}
.pinboard .bookmark {
  margin: 0 0 1em 0;
}
.pinboard .bookmark-heading {
  font-size: 1rem;
  margin:0;
  font-weight: bold;
}
.pinboard .bookmark-description {
  margin: 0;
}
.pinboard .bookmark-tags {
  margin:0;
}
.pinboard .bookmark-tag {
  color: var(--bookmark-tags);
  margin-right: .5rem;  
}
.pinboard .bookmark-description:empty,
.pinboard .bookmark-tag:empty {
  display: none;
}

/* ==========================================================================
   Legacy CSS
   ========================================================================== */
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    display: block;
}

.CodeMirror {
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
code, pre {
    font-family: monospace;
}
#render table {
    width: auto;
}
#render img {
    max-width: 100%;
}
form {
    margin-bottom: 0;
}
.form-actions {
    margin: 20px -20px -20px -20px;
    border-radius: 0 0 4px 4px;
    text-align: right;
}
#sidebar {
    text-shadow: 0 1px 0 #FFFFFF;
    margin-bottom: 5px;
}
#sidebar .inner {

}
#sidebar h2 {
    line-height: 20px;
    background: #7B848C;
    padding: 0 20px;
    line-height: 30px;
    border: 1px solid #666;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
#sidebar h2 span {
    border-radius: 4px 4px 0 0;
    background: #EFF2F4;
    font-size: 15px;
    line-height: 18px;
    padding: 5px 10px;
}
#sidebar ul {
    margin-bottom: 0;
}
#sidebar li ul {
    padding-left: 20px;
    display: none;
    margin-top: 5px;
}
#sidebar li.directory.open > ul {
    display: block;
}
#sidebar li {
    padding: 5px 0;
}
#sidebar ul li:last-child {
    padding-bottom: 0;
}
#sidebar li.directory {
    font-weight: bold;
}
#sidebar li.directory > a {
    color: #333;
}
#sidebar li.directory > a:hover {
    text-decoration: none;
}
#sidebar li.file {
    font-weight: normal;
    word-wrap: break-word;
}
#sidebar li li.file {
    padding-left: 10px;
    word-wrap: break-word;
}
#sidebar li.file.active > a {
    font-weight: bold;
}
#sidebar li a, #sidebar li a:hover {
    display: block;
    text-decoration: none;
}

#logo {
    position: fixed;
    bottom: 20px;
    left: -90px;

    color: #444;
}
#logo img {
    width: 75px;
}
.bubble {
    position: absolute;

    width: 150px;
    padding: 10px;
    background: #FFFFFF;
    border: #7B848C solid 3px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-weight: bold;
}
.bubble:after {
    content: "";
    position: absolute;
    top: 22px;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
}
.bubble:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -15px;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #7B848C;
    display: block;
    width: 0;
    z-index: 0;
}
#logo .bubble {
    right: -190px;
    bottom: -90px;

    -webkit-transition: bottom .2s;
       -moz-transition: bottom .2s;
         -o-transition: bottom .2s;
            transition: bottom .2s;
}
#logo:hover .bubble {
    bottom: 40px;
}
/*
#tree-filter-clear-query {
    cursor: pointer;
}
#tree {
    padding: 0;
}
#tree li {
    list-style: none;
}
#tree,
#tree-filter-results {
    margin-top: 10px;
}
#tree-filter-results li a:focus:before,
#tree li a:focus:before {
    content: "↪";
    float: left;
    margin-left: -13px;
    font-weight: bold;
    color: #333;
}
*/
