/* Variables
Text:   #4d5757
Smoke:  #ecf0f1
Cloud:  #f8f8f8
??? borders on code: e1e7e8
*/

:root {
  --color-asphalt:#4d5757;
  --color-concrete: #96A5A5;
  --color-smoke: #e1e7e8;
  --color-cloud: #f8f8f8;
  --color-amethyst: #9b59b6;
  --color-grass: #27ae60;

  --text-base: var(--color-asphalt);
  --link-active: var(--color-amethyst);

  --btn-bg: var(--color-smoke);
  --btn-text: var(--text-base);
  --btn-success-bg: var(--color-grass);
  --btn-success-text: #fff;
}

/* Font Face */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-Regular.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-It.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-It.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-It.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Semibold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-Semibold.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-Semibold.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'source-sans-pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.ttf') format('truetype');
  /* Safari, Android, iOS */
}

html {
  font-size: 18px;
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

body {
  margin: 15vh 15px;
  background-color: #fff;
  color: #4d5757;
  /* text */
}

hr {
  margin: 1rem 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ecf0f1;
}

a,
a:visited {
  color: #2980B9;
  text-decoration: none;
}

a:hover {
  color: #3498db
}

a:active,
a:focus {
  color: var(--link-active);
}

h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: normal;
  font-size: 2.5rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 1.25rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  text-align: left;
  padding: .3rem .9rem;
  border: 1px solid #ecf0f1;
}


/* FIXME */
.btn {
  display:inline-block;
  margin: 0;
  padding: 4px 8px;
  outline: none;
  border: none;
  border-radius: 3px;
  background: var(--btn-bg);
  color: var(--btn-text);
  font-size: .8rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  transition: transform .1s;
}
.btn:hover {
  color: var(--btn-text);
  transform: scale(1.05);
}
.btn-success {
  background: var(--btn-success-bg);
  color: var(--btn-success-text);
}
.btn-success:hover {
  /* TODO: there is a inheritance selector, find it. */
  color: var(--btn-success-text);
}

.toggle-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  display: block;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: #2ecc71;
  -webkit-user-select: none;
}

@media (min-width: 1390px) {
  .toggle-menu {
    display: none;
  }
}

.toggle-menu span {
  position: absolute;
  left: 10px;
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
  opacity: 1;
  transition: .25s ease-in-out;
}

.toggle-menu span:nth-child(1) {
  top: 15px;
}

.toggle-menu span:nth-child(2) {
  top: 24px;
}

.toggle-menu span:nth-child(3) {
  top: 24px;
}

.toggle-menu span:nth-child(4) {
  top: 33px;
}

.toggle-menu.open span:nth-child(2) {
  top: 24px;
  left: 9px;
  width: 32px;
  height: 2px;
  transform: rotate(-45deg);
}

.toggle-menu.open span:nth-child(3) {
  top: 24px;
  left: 9px;
  width: 32px;
  height: 2px;
  transform: rotate(45deg);
}

.toggle-menu.open span:nth-child(1),
.toggle-menu.open span:nth-child(4) {
  top: 23px;
  left: 24px;
  width: 2px;
  opacity: 0;
}

.main-content {
  margin-right: auto;
  margin-left: auto;
  /* margin-left: 200px; */
  max-width: 800px;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 240px;
  height: 100vh;
  transition: transform .3s, background .3s;
  transform: translate3d(-240px, 0, 0);
  /*     background-color: #ecf0f1;  */
  -webkit-backdrop-filter: blur(15px);
}

.main-nav.open {
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  transform: translate3d(0px, 0, 0);
}

.main-nav a {
  color: #4d5757;
  /* text */
}

.main-nav a:hover {
  /*   color: #fff; */
}

.main-nav nav {
  padding: 80px 0 0;
}

.main-nav nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main-nav nav li {
  margin-left: 0px;
}

.main-nav nav > ul > li {
  padding-left: 22px;
}

.main-nav nav li.active {
  background-color: rgba(0, 0, 0, .05);
}

.main-nav nav li.active ul li:last-child {
  margin-bottom: 10px;
}

.main-nav nav li.active > a {
  font-weight: bold;
  /*   padding-bottom: 5px; */
}

.main-nav a {
  display: block;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-nav a {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.875rem;
}

@media (min-width: 1390px) {
  .main-nav {
    box-shadow: none;
    transform: translate3d(0px, 0, 0);
  }
  .main-nav li a {
    opacity: 0;
    transition: opacity .3s;
  }
  .main-nav:hover li a {
    opacity: 1;
  }
  .main-nav li.active a {
    /*opacity: 1;*/
  }
  .main-nav nav li.active {
    background-color: transparent;
  }
}

code {
  font-size: 15px;
  display: inline-block;
  padding: 0 3px;
  border: 1px solid #e1e7e8;
  border-radius: 3px;
  background-color: #f8f8f8;
  color: #4d5757;
  /* text */
}
pre code {
  display: block;
  padding: 5px 10px;
}

.actions {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

.breadcrumbs {
  position: absolute;
  top: 0;
  padding: 10px 0;
}
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .9rem;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  color: var(--color-smoke);
  transition: color .5s;
}
.breadcrumb:hover a {
  color: var(--text-base);
}
.breadcrumb a:focus,
.breadcrumb a:active {
  color: var(--link-active);
}
.directory-path {
    color: #7B848C;
    font-weight: normal;
}



/* --------------------------------*/
/* --Legacy code-------------------*/
/* --------------------------------*/
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    display: block;
}
:focus {
    outline: none !important;
}
::-moz-focus-inner {
    border:0 !important;
}

.CodeMirror {
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
code, pre {
    font-family: monospace;
}
#render table {
    width: auto;
}
#render img {
    max-width: 100%;
}
form {
    margin-bottom: 0;
}
.form-actions {
    margin: 20px -20px -20px -20px;
    border-radius: 0 0 4px 4px;
    text-align: right;
}
#sidebar {
    text-shadow: 0 1px 0 #FFFFFF;
    margin-bottom: 5px;
}
#sidebar .inner {

}
#sidebar h2 {
    line-height: 20px;
    background: #7B848C;
    padding: 0 20px;
    line-height: 30px;
    border: 1px solid #666;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
#sidebar h2 span {
    border-radius: 4px 4px 0 0;
    background: #EFF2F4;
    font-size: 15px;
    line-height: 18px;
    padding: 5px 10px;
}
#sidebar ul {
    margin-bottom: 0;
}
#sidebar li ul {
    padding-left: 20px;
    display: none;
    margin-top: 5px;
}
#sidebar li.directory.open > ul {
    display: block;
}
#sidebar li {
    padding: 5px 0;
}
#sidebar ul li:last-child {
    padding-bottom: 0;
}
#sidebar li.directory {
    font-weight: bold;
}
#sidebar li.directory > a {
    color: #333;
}
#sidebar li.directory > a:hover {
    text-decoration: none;
}
#sidebar li.file {
    font-weight: normal;
    word-wrap: break-word;
}
#sidebar li li.file {
    padding-left: 10px;
    word-wrap: break-word;
}
#sidebar li.file.active > a {
    font-weight: bold;
}
#sidebar li a, #sidebar li a:hover {
    display: block;
    text-decoration: none;
}

#logo {
    position: fixed;
    bottom: 20px;
    left: -90px;

    color: #444;
}
#logo img {
    width: 75px;
}
.bubble {
    position: absolute;

    width: 150px;
    padding: 10px;
    background: #FFFFFF;
    border: #7B848C solid 3px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-weight: bold;
}
.bubble:after {
    content: "";
    position: absolute;
    top: 22px;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
}
.bubble:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -15px;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #7B848C;
    display: block;
    width: 0;
    z-index: 0;
}
#logo .bubble {
    right: -190px;
    bottom: -90px;

    -webkit-transition: bottom .2s;
       -moz-transition: bottom .2s;
         -o-transition: bottom .2s;
            transition: bottom .2s;
}
#logo:hover .bubble {
    bottom: 40px;
}
#tree-filter-clear-query {
    cursor: pointer;
}
#tree {
    padding: 0;
}
#tree li {
    list-style: none;
}
#tree,
#tree-filter-results {
    margin-top: 10px;
}
#tree-filter-results li a:focus:before,
#tree li a:focus:before {
    content: "↪";
    float: left;
    margin-left: -13px;
    font-weight: bold;
    color: #333;
}
